.screenRuler {
	width: 100%;
  	max-width: 960px;
  	margin: 0 auto;
  	clear: both;
}
* {
  	box-sizing: border-box;
}

body {
	color:#777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url('../images/back.png');
	font-size:18px;	
}
.topBar{
	position:fixed;
	z-index: 99;
	width:100%;
	overflow: auto;
	background-color: #fff;
	color:#fff;
	border-bottom: 2px solid #ccc;
}
.topBox {
	background-color:#4aaaa5 ;
	width:300px;
	height:90px;
	float:left;
	font-family: Georgia, Times, "Times New Roman", serif;
  	font-size: 30px;
  	color:#fff;
  	text-align: center;
  	text-decoration: none;
  	font-weight: bolder;
  	line-height: 90px;
}
nav {
	margin-top: 30px;
	float:right;
}
nav a:link{
	color:#A7B8C9;
	display: inline-block;
	text-decoration: none;
}
nav a:visited{
	color:#A7B8C9;
	text-decoration: none;
}
nav a:hover {
	color:black;
	text-decoration: underline;
}
nav a:active {
	color:green;
	text-decoration: underline;
}
.portLink {
	border-right: 2px solid lightgrey;
	border-left: 2px solid lightgrey;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.content {	
	padding: 30px;
  	margin: 125px 0 40px;
	background-color: #fff;
	border:1px solid #ddd;
	width:100%;
	max-width:650px;
	float:left;
}
h2{
	font-family:'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	color:#4AAAA5;
	font-weight: bold;
}
h3{
	font-family:'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	color:#4AAAA5;
	font-weight: bold;
	white-space: nowrap;
}

.mainText {
	margin:0 10px 10px 10px;
}
.mainImage {
	float:left;
	height: auto;
	width: 200px;
	margin: 20px 20px 0 0;
}
.sideBar {
	background-color: #fff;
	border:1px solid #ddd;
	width:100%;
	max-width:270px;
	float:right;
	color:#4aaaa5;
	margin: 125px 0 0 0;
	padding: 30px;
 
}
.sideBarImage{
	height:auto;
	width:54px;
	padding: 6px;
}
.centerIcon {
	margin-left: 20px;
}
footer {
	clear:both;
	font-size: 12px;
	background-color: #666;
	border-top: 8px solid #4aaaa5;
	color:#fff;
	min-height: 85px;
	text-align: center;
	line-height: 83px;
}
.moveRight {
	margin-left: 174px;
    margin-top: 25px;
}
.moveRight p {
	margin:5px 0 5px 0;
}
.titleBox {
	background-color:#4aaaa5;
	width:200px;
	height:50px;
	position: relative;
	top:87px;
	padding-right: 5px;
}
/*Portfolio*/
#boxSet {
	margin-top: 25px;
}
.box {
	width: 200px;
	height: 150px;
	background-color: black;	 
}
.box p {
	color:white;
	font-size: 18px;

}
#hang {
	float: left;
	margin-left: 47px;
    margin-right: 15px;
    margin-bottom: 45px;
    background-image:url('../images/place1.jpg');
}
#rpg {
	float:left;
	background-image:url('../images/place2.jpg');

}
#trivia {
	clear:both;
	float:left;
	margin-left: 47px;
    margin-right: 15px;
    margin-bottom: 45px;
    background-image:url('../images/place3.jpg');
}
#rutgers {
	float:left;
	background-image:url('../images/place4.jpg');
}
#rock {
	clear:both;
	float:left;
	margin-left: 47px;
    margin-right: 15px;
    margin-bottom: 45px;
    background-image:url('../images/place5.jpg');
}
.smallTitle {
	padding:12px 40px 0 55px;
}
.fatTitle {
	padding:15px 40px 0 20px;
	white-space: nowrap;
}

/*This Section will contain my media queries
which will control the responsiveness of the page*/
/*
@media screen and (max-width: 980px) {
	nav {
		margin-right: 131px;
	}
	#content {
		width:350px;
		margin-right: 25px;
	}
		#hang {
		clear:both;
		float: left;
		margin-left: 84px;
		margin-bottom: 45px;
	}
	#rpg {
		clear:both;
		float: left;
		margin-left: 84px;
		margin-bottom: 45px;
	}
	#trivia {
		clear:both;
		float: left;
		margin-left: 84px;
		margin-bottom: 45px;
	}
	#rutgers {
		clear:both;
		float: left;
		margin-left: 84px;
		margin-bottom: 45px;
	}
	#rock {
		clear:both;
		float: left;
		margin-left: 84px;
		margin-bottom: 45px;
	}
	
	#topBox {
		width:250px;
	}
	h1 {
		padding-left: 35px;
	}
	#mainText {
		clear:both;
	}
	#mainImage {
		clear:left;
		margin-left: 80px;
	}
	.moveRight {
		margin-left:2px;
	}
}
@media screen and (max-width: 768px) {
	#sideBar {
		clear:both;
		margin-left: 55px;
    	margin-bottom: 25px;
    	margin-top: 0;
    	width:100%;
    	max-width: 544px;
	}
	nav {
		margin-right: 36px;
	}
	#content {
		margin-left: 55px;
    	width:100%;
    	max-width: 544px;
	}
	#centerIcon {
		margin-left: 108px;
	}
	#topBox{
		margin-left: 56px;
	}
	#backGround {
		width: 768px;
	}
	footer p {
		margin-left: -100px;
		margin-bottom: 50px;
	}
	#hang {
		float: left;
		margin-left: 53px;
	    margin-right: 50px;
	    margin-bottom: 45px;
	    background-image:url('../images/place1.jpg');
	}
	#rpg {
		float:left;
		background-image:url('../images/place2.jpg');

	}
	#trivia {
		clear:both;
		float:left;
		margin-left: 53px;
	    margin-right: 50px;
	    margin-bottom: 45px;
	    background-image:url('../images/place3.jpg');
	}
	#rutgers {
		float:left;
		background-image:url('../images/place4.jpg');
	}
	#rock {
		clear:both;
		float:left;
		margin-left: 53px;
	    margin-right: 50px;
	    margin-bottom: 45px;
	    background-image:url('../images/place5.jpg');
	}
	.moveRight {
		margin-left:121px ;
	}
}

@media screen and (max-width: 640px) {
	nav {
		clear: both;
    	margin-right: 109px;
    	margin-bottom: 18px;
	}

	#content {
		margin-left:130px;
		width:100%;
		max-width:400px;
	}
	#sideBar {
		margin-left: 130px;
		width:100%;
		max-width:400px;
	}
	#topBox {
		width:100%;
		margin-left:0;
	}
	#topBox h1 {
		margin-left: 163px;
    	font-size: 30px;
	}
	#mainText {
		clear:both;
		font-size: 18px;
	}
	#mainImage {
		width:75%;
		height:75%;
		margin-left: 54px;
		margin-bottom: 25px;
	}
	footer p {
		margin-left: -129px;
		margin-bottom: 50px;
	}
	#hang {
		clear:both;
		float: left;
		margin-left: 109px;
		margin-bottom: 45px;
	}
	#rpg {
		clear:both;
		float: left;
		margin-left: 109px;
		margin-bottom: 45px;
	}
	#trivia {
		clear:both;
		float: left;
		margin-left: 109px;
		margin-bottom: 45px;
	}
	#rutgers {
		clear:both;
		float: left;
		margin-left: 109px;
		margin-bottom: 45px;
	}
	#rock {
		clear:both;
		float: left;
		margin-left: 109px;
		margin-bottom: 45px;
	}
	#portLink {
		border:none;
		padding-left:100px;
		padding-right: 100px;
	}
	.moveRight {
		margin-left:4px;
	}
	#centerIcon {
		margin-left: 61px;
	}
}*/