body {
	color:#777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: black;
	margin:0;
}
footer {
	clear:both;
	width:100%;
	height: 90px;
	background-color: #666666;
	border-top: 10px solid #4aaaa5;
	color:lightgrey;
}
footer p {
	padding-left: 450px;
	padding-top: 30px;
	font-size: 10px;
}
h1 {
	padding-left: 55px;
	padding-top: 10px;
	font-size: 24px;
	color:white;	
}
h1 h2 h3{
	font-family:'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-size: 24px;
}
nav {
	margin-top: 30px;
	margin-right: 250px;
	float:right;
}
nav a:link{
	color:#A7B8C9;
	text-decoration: none;
}
nav a:visited{
	color:#A7B8C9;
	text-decoration: none;
}
nav a:hover {
	color:black;
	text-decoration: underline;
}
nav a:active {
	color:green;
	text-decoration: underline;
}
#topBox {
	background-color:#4aaaa5 ;
	width:300px;
	height:85px;
	margin:0 0 0 130px;
	float:left;
}
#content h2 {
	color:#4aaaa5;
	margin-left: 45px;
	border-bottom: 5px solid #dddddd;
	padding-bottom: 10px;
	margin-right: 37px;
}
#portLink {
	border-right: 2px solid lightgrey;
	border-left: 2px solid lightgrey;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
#topBar{
	padding:0;
	margin:0;
	background-color: #ffffff;
}
#wrapper {
	clear:both;
	border-top: 3px solid #dddddd;
	background-image: url('../images/back.png');
	background-color: white;
}
#sideBar {
	background-color: #ffffff;
	border:1px solid #dddddd;
	width:225px;
	float:left;
	overflow: none;
	color:#4aaaa5;
	margin:50px 0 0 0; 
}
#sideBar img{
	height:25%;
	width:25%;
	padding: 6px;
}
#content {
	
	background-color: #ffffff;
	border:1px solid #dddddd;
	width:534px;
	float:left;
	margin: 50px 50px 50px 125px;
}
#mainImage {
	float:left;
	height: 50%;
	width: 50%;
}
#mainImage p {
	clear:both;
}
#backGround {
	width:1178px;
	height:650px;
	margin:auto;
}
#content input {
	margin:0 0 10px 45px;
}
.fatTitle {
	padding:15px 40px 0 20px;
	white-space: nowrap;
}
.smallTitle {
	padding:12px 40px 0 55px;
}
#content textarea {
	margin:0 0 0 45px;
} 
.box {
	width: 200px;
	height: 150px;
	background-color: black;	 
}
.box p {
	color:white;
	font-size: 18px;

}
#hang {
	float: left;
	margin-left: 47px;
    margin-right: 15px;
    margin-bottom: 45px;
    background-image:url('../images/place1.jpg');
}
#rpg {
	float:left;
	background-image:url('../images/place2.jpg');

}
#trivia {
	clear:both;
	float:left;
	margin-left: 47px;
    margin-right: 15px;
    margin-bottom: 45px;
    background-image:url('../images/place3.jpg');
}
#rutgers {
	float:left;
	background-image:url('../images/place4.jpg');
}
#rock {
	clear:both;
	float:left;
	margin-left: 47px;
    margin-right: 15px;
    margin-bottom: 45px;
    background-image:url('../images/place5.jpg');
}
#centerIcon {
	margin-left: 11px;
}
h3{
	font-size:24px;
	border-bottom: 5px solid #dddddd;
	margin-right: 5px;
	margin-left: 5px;
    text-align: center;
    margin-top: 18px;
    padding-bottom: 12px;
    
}
.titleBox {
	background-color:#4aaaa5;
	width:196px;
	height:50px;
	position: relative;
	top:75px;
	padding-right: 5px;
}
.contactText {
	margin:0 40px 10px 45px;
}
#mainText {
	margin:0 40px 10px 28px;
}